body {
    font-family: 'Poppins', sans-serif;
}
h1 , h2, h4 {
    font-size: 50px;
}
.my-name {
    color: tomato;
}
.homepage{
    display: flex;
    background-color: honeydew;
    padding-bottom: 100px;
}
.half-width {
    width: 50%;
    padding: 40px;
}
.half-img {
    width: 80%;
}
.button1 {
   background-color: tomato;
   text-decoration: none;
   padding: 8px 36px;
   border-radius: 5%;
   color: ivory;
   background-image: linear-gradient ( tomato aqua);
   font-weight: 700;
}
/* 2nd section*/
.dream-big {
    display: flex;
    background-color: honeydew;
    
}
.half-div {
    width: 50%;
    padding: auto;
}
.button2 {
    background-color: tomato;
    text-decoration: none;
    padding: 8px 36px;
    border-radius: 5%;
    color: ivory;
    background-image: linear-gradient ( tomato aqua);
    font-weight: 700;
 }